body {
    text-align: center;
    background-color: grey;
}

.choices {
    padding: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.choices img:hover {
    cursor: pointer;
    background-color: rgb(121, 121, 121);
}

.player-score, .computer-score {
    display: inline;
    font-weight: bolder;
    padding: 10px;
    font-size: 50px;
}
